
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 23px;

}
.thumbnail{
    width :100%;
}
/* .preview{
    width: 240px;
} */
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;

}

.title{
    margin-top: 0px;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}
.author,.views{
    font-size: 12px;
    color: #606060;
    margin-top: 0px;
    margin-bottom: 0px;
}
.author{
    margin-bottom: 4px;
}

.thumbnail_row{
    margin-bottom: 8px;
    position:relative;
}
.timer{
    opacity: 0.9;
    position:absolute;
    right:4px;
    bottom:7px;
    background-color: black;
    color: white;
    font-family: Roboto;
    font-size: 12px;
    padding-top: 2px;
    padding-right: 4px;
    padding-bottom: 2px;
    padding-left: 4px;
    border-radius: 2px;
    font-weight:500
    
}


.profile_pic{
    /* display: inline-block; */
    width:px;
    vertical-align: top;
}
.profile_info{
    /* display: inline-block; */
    width:200px;
}
.pp{
    width:36px;
    border-radius: 100%;
}